@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&family=Poppins:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Oswald';
}

.pokemon-battle {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.pokemon-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.137);
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  background-color: bisque;
  width: 230px;
  aspect-ratio: 3/4;
}

.pokemon-card:hover {
  transform: scale(1.1) rotate(5deg);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.425);
}